<div>
    <div>
        <h2 class="card-header text-center"></h2>
    </div>
    <div class="card-body">
        <form action="" class="row g-3">

            <div class="col-md-6">
                <label for="inputFirstName" class="form-lable">First Name</label>
                <input  class="form-control" type="text" name="first" id="inputFirstName">
            </div>
            
            <div class="col-md-6">
                <label for="inputLastName" class="form-lable">Last Name</label>
                <input  class="form-control" type="text" name="last" id="inputLastName">
            </div>

            <div class="col-md-6">
                <label for="inputUsername" class="form-lable">Username</label>
                <input  class="form-control" type="text" name="username" id="inputUsername">
            </div>

            <div class="col-md-6">
                <label for="inputPassword" class="form-lable">Password</label>
                <input  class="form-control" type="password" name="password" id="inputPassword">
            </div>

            <div class="col-md-6">
                <label for="inputEmail" class="form-lable">Email</label>
                <input  class="form-control" type="email" name="email" id="inputEmail">
            </div>
        </form>
    </div>
    
</div>
