h4{
    text-align: center;
    color:rgb(119, 6, 6);
}

#gametable{
    margin-left: auto;
    margin-right: auto;
}

.card-header{
    background: linear-gradient(
        to right, 
        hsl(98 100% 62%), 
        hsl(204 100% 59%)
      );

      text-align: center;
}


