<div>

    <div>
        <h2 class="card-header text-center">PLAY THE GAME!</h2>

        <div class="card-body">
            <h4 class="text-center">Pick Your Object!</h4>
            <form>
            <div class="object1">
                <label for="inputObject1" class="form-label"></label>
                <select [(ngModel)]="object1" name="objectOne" id="inputObject1" class="form-select">
                    <option selected>Choose...</option>
                    <option value=0>Air</option>
                    <option value=1>Airplane</option>
                    <option value=2>Alien</option>
                    <option value=3>Axe</option>
                    <option value=4>Baby</option>
                    <option value=5>Beer</option>
                    <option value=6>Bicycle</option>
                    <option value=7>Bird</option>
                    <option value=8>Blood</option>
                    <option value=9>Book</option>
                    <option value=1>Bowl</option>
                    <option value=11>Brain</option>
                    <option value=12>Butter</option>
                    <option value=13>Cage</option>
                    <option value=14>Camera</option>
                    <option value=15>Car</option>
                    <option value=16>Castle</option>
                    <option value=17>Cat</option>
                    <option value=18>Chain</option>
                    <option value=19>Chainsaw</option>
                    <option value=20>Church</option>
                    <option value=21>Cloud</option>
                    <option value=22>Cockroach</option>
                    <option value=23>Community</option>
                    <option value=24>Computer</option>
                    <option value=25>Cross</option>
                    <option value=26>Cup</option>
                    <option value=27>Death</option>
                    <option value=28>Devil</option>
                    <option value=29>Diamond</option>
                    <option value=30>Dragon</option>
                    <option value=31>Duck</option>
                    <option value=32>Dynamite</option>
                    <option value=33>Electricity</option>
                    <option value=34>Fence</option>
                    <option value=35>Film</option>
                    <option value=36>Fire</option>
                    <option value=37>Fish</option>
                    <option value=38>Gold</option>
                    <option value=39>Grass</option>
                    <option value=40>Guitar</option>
                    <option value=41>Gun</option>
                    <option value=42>Heart</option>
                    <option value=43>Helicopter</option>
                    <option value=44>Home</option>
                    <option value=45>King</option>
                    <option value=46>Laser</option>
                    <option value=47>Law</option>
                    <option value=48>Lightning</option>
                    <option value=49>Man</option>
                    <option value=50>Math</option>
                    <option value=51>Medusa</option>
                    <option value=52>Money</option>
                    <option value=53>Monkey</option>
                    <option value=54>Moon</option>
                    <option value=55>Mountain</option>
                    <option value=56>Noise</option>
                    <option value=57>Nuke</option>
                    <option value=58>Paper</option>
                    <option value=59>Peace</option>
                    <option value=60>Pit</option>
                    <option value=61>Planet</option>
                    <option value=62>Platimum</option>
                    <option value=63>Poison</option>
                    <option value=64>Police</option>
                    <option value=65>Porcupine</option>
                    <option value=66>Power</option>
                    <option value=67>Prayer</option>
                    <option value=68>Prince</option>
                    <option value=69>Princess</option>
                    <option value=70>Queen</option>
                    <option value=71>Quicksand</option>
                    <option value=72>Rain</option>
                    <option value=73>Rainbow</option>
                    <option value=74>Robot</option>
                    <option value=75>Rock</option>
                    <option value=76>Satan</option>
                    <option value=77>School</option>
                    <option value=78>Scissors</option>
                    <option value=79>Sky</option>
                    <option value=80>Snake</option>
                    <option value=81>Spider</option>
                    <option value=82>Sponge</option>
                    <option value=83>Sun</option>
                    <option value=84>Sword</option>
                    <option value=85>T.v.</option>
                    <option value=86>Tank</option>
                    <option value=87>Toilet</option>
                    <option value=88>Tornado</option>
                    <option value=89>Train</option>
                    <option value=90>Tree</option>
                    <option value=91>Turnip</option>
                    <option value=92>U.f.o.</option>
                    <option value=93>Vampire</option>
                    <option value=94>Video game</option>
                    <option value=95>Vulture</option>
                    <option value=96>Wall</option>
                    <option value=97>Water</option>
                    <option value=98>Whip</option>
                    <option value=99>Wolf</option>
                    <option value=100>Woman</option>
                    
                    

                  </select>
            </div>

            <br>

            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary" (click)="playMatch()">Play Match</button>
            </div>

            <br>

            <div class="clientmessage text-center" *ngIf="clientMessage.message.length > 0" class="alert alert-secondary" role="alert">
               <h4> {{clientMessage.message}}</h4>
              </div>

            <br>

              <div *ngIf="clientMessage.message.length > 0" style="width: 100%; display: table;">
                <div id="gametable" style="display: table-row">

                    <div style="width: 400px; display: table-cell; text-align: center;"> <img src={{gameImage.playerUrl}} alt="Player Object"> 
                    <h3>{{gameImage.playerName}}</h3>
                    </div>

                   <div style="display: table-cell; text-align: center; "> <img src= {{vsImage}} alt="VS"> </div> 

                    <div style="display: table-cell; text-align: center;"> <img src= {{gameImage.compObjectUrl}} alt="Computer Object">
                    <h3>{{gameImage.computerName}}</h3> 
                    </div>

                </div>
 

                
            </div>
        </form>

 

        </div>



    </div>

 

</div>

<div class="userpagebtn text-center">
    <a routerLink="/user">Back To User Page</a>
    </div>
